services:
  server:
    build: .
    container_name: go-sandbox-server
    platform: linux/arm64
    ports:
      - "3000:3000"
      - "4389:4389"
    env_file: .env
    restart: always
    volumes:
      - go-sandboxes:/app/sandboxes # Shared volume for /app

  localstack:
    image: localstack/localstack
    container_name: go-sandbox-localstack
    ports:
      - "4566:4566" # LocalStack Gateway
    environment:
      - SERVICES=s3
      - DEBUG=1
    restart: always
    volumes:
      - ./dev/aws:/etc/localstack/init/ready.d

volumes:
  go-sandboxes:
